#container {
    max-width:1000px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    shape-rendering:crispEdges;
    margin-top:1em;
    margin-bottom:1em;
}

#exterior {
    stroke: #000000;
    stroke-width:2px;
    fill:none;
}

.interior {
    stroke: #000000;
    stroke-width:1px;
    stroke-opacity:1;
}

.door {
    stroke: #000000;
    stroke-dasharray: 3 3;
    stroke-width:0.5px;
}

.room {
    pointer-events:all;
    fill:#FFF;

}

.room_temp {
    font-size:0.8em;
}

g:hover > .room{
    fill: #F0F0F0;
}

g > text{
    fill:#000;
    text-anchor:middle;
    font-family: 'Inconsolata', 'courier';}

g .hasTemp > text{
    fill:#fff;

/*
g:hover > text{
    fill: #FFF;
}
*/
