<!DOCTYPE html>
<html>
	<head>
		<title>MiCasa</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale:1.0">
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/rainbowvis.js"></script>
		<link href="style.css" rel="stylesheet">
		<link href="svg.css" rel="stylesheet">

	</head>
	<body>
		<header>
			<h1>MiCasa</h1>
		</header>
		<div class=flex>
		<div id="container">
            <svg id=floorplan viewbox="0 0 1000 383" xmlns="http://www.w3.org/2000/svg">

				<!-- rooms -->
				<!-- Bedroom -->
				<g id=bedroom>
				<rect class=room x=226 y=224 width=199 height=157></rect>
				<text x=325 y=310 font-family="Courier">Bedroom</text>
				<text class=room_temp x=841 y=213 font-family="Courier"></text>
				</g>

				<!-- Kitchen -->
				<g id=kitchen>
				<polygon class=room points="403,174 403,0 641,0 641,139 616,139 616,174" />
				<text x=525 y=92 font-family="Courier">Kitchen</text>
				</g>

				<!--Hallway-->
				<g id=hallway>
				<polygon class=room points="425,174 425,224 189,224 153,197 153,159 189,134 278,134 278,174"/>
				<text x=290 y=202 font-family="Courier">Hallway</text>
				</g>

				<!-- Dining Room --> 
				<g id=diningroom>
				<polygon class=room points="425,174 641,174 641,383 425,383"></polygon>
				<text x=535 y=285 font-family="Courier">Dining Room</text>
				<text class=room_temp x=756 y=220 font-family="Courier"> </text>
				</g>


				<!-- Living Room --> 
				<g id=livingroom>
				<polygon class=room points="641,60 872,60 872,366 641,366"></polygon>
				<text x=756 y=216 font-family="Courier">Living Room</text>
				<text class=room_temp x=756 y=220 font-family="Courier"> </text>
				</g>

				<!-- Bathroom -->
				<g id=bathroom>
				<polygon class=room points="189,134 278,134 278,107 305,107 305,0 189,0"></polygon>
				<text x=245 y=60 font-family="Courier">Bathroom</text>
				</g>

				<!-- Office --> 
				<g id=office>
				<polygon class=room points="0,197 153,197 189,224 189,383 0,383"></polygon>
				<text x=95 y=295 font-family="Courier">Office</text>
				<text class=room_temp x=95 y=315 font-family="Courier"> </text>
				</g>

				<!-- Dressing Room --> 
				<g id=closet>
				<polygon class=room points="0,159 153,159 189,134 189,0 0,0"></polygon>
				<text x=95 y=85 font-family="Courier">Closet</text>
				<text class=room_temp x=756 y=220 font-family="Courier"> </text>
				</g>


				<!-- Sun Room --> 
				<g id=sunroom>
				<polygon class=room points="832,0 1000,0 1000,366 872,366 872,60 832,60"></polygon>
				<text x=935 y=183 font-family="Courier">Sun Room</text>
				<text class=room_temp x=756 y=220 font-family="Courier"> </text>
				</g>


                <!-- Walls -->
                <line class=interior x1=872 y1=60 x2=872 y2=174 />
                <line class=interior x1=832 y1=0 x2=832 y2=60 />
                <line class=interior x1=687 y1=60 x2=872 y2=60 />
                <line class=door x1=641 y1=60 x2=687 y2=60 />
                <line class=door x1=872 y1=174 x2=872 y2=267 />
                <line class=interior x1=872 y1=267 x2=872 y2=366 />
                <line class=interior x1=641 y1=0 x2=641 y2=174 />
                <line class=interior x1=641 y1=139 x2=616 y2=139 />
                <line class=interior x1=616 y1=139 x2=616 y2=174 />
                <line class=interior x1=510 y1=174 x2=641 y2=174 />
                <line class=door x1=473 y1=174 x2=510 y2=174 />
                <line class=interior x1=425 y1=174 x2=473 y2=174 />
                <line class=door x1=425 y1=174 x2=425 y2=224 />
                <line class=interior x1=425 y1=224 x2=425 y2=383 />
                <line class=interior x1=425 y1=224 x2=283 y2=224 />
                <line class=door x1=283 y1=224 x2=226 y2=224 />
                <line class=interior x1=226 y1=224 x2=189 y2=224 />
                <line class=interior x1=226 y1=303 x2=189 y2=303 />
                <line class=door x1=189 y1=224 x2=153 y2=197 />
                <line class=interior x1=189 y1=224 x2=189 y2=336 />
                <line class=door x1=189 y1=336 x2=189 y2=383 />
                <line class=interior x1=153  y1=197 x2=0 y2=197 />
                <line class=door x1=226 y1=224 x2=226 y2=271 />
                <line class=interior x1=226 y1=271 x2=226 y2=383 />
                <line class=door x1=153  y1=197 x2=153 y2=159 />
                <line class=interior x1=76  y1=197 x2=76 y2=159 />
                <line class=interior x1=189 y1=0 x2=189 y2=134 />
                <line class=door x1=189 y1=134 x2=153 y2=159 />
                <line class=door x1=0 y1=159 x2=46 y2=159 />
                <line class=interior x1=46 y1=159 x2=153 y2=159 />
                <line class=interior x1=189 y1=134 x2=191 y2=134 />
                <line class=door x1=191 y1=134 x2=237 y2=134 />
                <line class=interior x1=237 y1=134 x2=278 y2=134 />
                <line class=interior x1=278 y1=134 x2=278 y2=174 />
                <line class=interior x1=278 y1=174 x2=425 y2=174 />
                <line class=interior x1=190 y1=94 x2=235 y2=94 />
                <line class=interior x1=278 y1=134 x2=278 y2=107 />
                <line class=interior x1=278 y1=107 x2=305 y2=107 />
                <line class=interior x1=305 y1=107 x2=305 y2=0 />
                <line class=door x1=403 y1=174 x2=403 y2=128 />
                <line class=interior x1=403 y1=128 x2=403 y2=0 />
                <line class=interior x1=403 y1=107 x2=398 y2=107 />
                <line class=door x1=398 y1=107 x2=352 y2=107 ></line>
                <line class=interior x1=352 y1=107 x2=350 y2=107 ></line>
                <line class=interior x1=350 y1=107 x2=350 y2=46 ></line>


                <!-- Perimeter Walls -->
                <polygon id=exterior points="0,0 1000,0 1000,366 641,366 641,383 0,383" ></polygon>

            </svg>
		</div>
		<div id=room_container></div>
		</div>
		<script>

var endpoints;

var rainbow = new Rainbow();
rainbow.setNumberRange(60, 75);
rainbow.setSpectrum('blue', 'red');

/**
 * Decimal adjustment of a number.
 *
 * @param {String}  type  The type of adjustment.
 * @param {Number}  value The number.
 * @param {Integer} exp   The exponent (the 10 logarithm of the adjustment base).
 * @returns {Number} The adjusted value.
 */
function decimalAdjust(type, value, exp) {
    // If the exp is undefined or zero...
    if (typeof exp === 'undefined' || +exp === 0) {
      return Math[type](value);
    }
    value = +value;
    exp = +exp;
    // If the value is not a number or the exp is not an integer...
    if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0)) {
      return NaN;
    }
    // Shift
    value = value.toString().split('e');
    value = Math[type](+(value[0] + 'e' + (value[1] ? (+value[1] - exp) : -exp)));
    // Shift back
    value = value.toString().split('e');
    return +(value[0] + 'e' + (value[1] ? (+value[1] + exp) : exp));
}

// Decimal round
if (!Math.round10) {
	Math.round10 = function(value, exp) {
    	return decimalAdjust('round', value, exp);
	};
}

function getTemperature(client_id, id) {
	$.getJSON("/clients/"+client_id+"/temperature", function (client) {
		var tempF = client.temperature * (9/5) + 32;
		$(id+" .room_temp").text(Math.round10(tempF,-1));
		$(id+" .room").css("fill","#"+rainbow.colorAt(Math.round(tempF)));
	});
}

$(document).ready(function() {
	$.getJSON("/clients", function (data) {
        console.log(data);
		$.each(data, function (id, client) {
		//	$.getJSON("http://" + ip, function (client) {

				var room = client.room.replace(" ", "_");
				var roomID = "#" + room;
				console.log(client);
				if ($(roomID).length == 0) {
					/** @namespace client.room */
					$("#room_container").append("<div id='" + room + "' class=room></div>");
					$(roomID).append("<h2>" + client.room + "</h2>");
				}
				$(roomID).append("<div id=" + client.name.replace(" ", "_") + " class=group></div>");

				var endpoints = client.room.replace(" ", "_") + " #" + client.name.replace(" ", "_");
				var endpointsID = "#" + endpoints;

				/** @namespace client.endpoints */
				$.each(client.endpoints, function (index, endpoint) {
					var classStr = "button";
					if (endpoint.status.on) {
						classStr += " on";
					}
					var id = endpoint.endpoint;
					$(endpointsID).append("<div class='" + classStr + "' id=" + id + " data-value=" + endpoint.status.on + " onclick=update('"+encodeURIComponent(client.id)+"','" + endpoint.endpoint + "')>" + endpoint.name + "</button>");
				});
				if (typeof client.temperature != 'undefined') {
					var tempF = client.temperature * (9/5) + 32;
					var id = "g#"+client.room.replace(" ","").toLowerCase();
					$(id+" .room_temp").text(Math.round10(tempF,-1));
					$(id+" .room").css("fill","#"+rainbow.colorAt(Math.round(tempF)));
					$(id+" text").css("fill","#fff");
					setInterval(function() {getTemperature(client.id, id)}, 5000);
				}




			//});
			//console.log(index, ip);
		});
	});
});

function update(name, id) {
	var $button =  $("#" + id);
	var value = $button.data("value");

	var newValue;
	if (!value) {
		newValue = true;
	} else {
		newValue = false;
	}

    $.ajax({
        method: 'PATCH',
        url: '/clients/'+name+"/"+id,
        data: JSON.stringify({state: {on: newValue}}),
        contentType: "application/json"
    }).done(function() {
        if (!value) {
			$("#" + id).data("value", true).addClass("on");
		} else {
			$("#" + id).data("value", false).removeClass("on");
		}
    });

}

		</script>
	</body>
</html>

